<div class="card m-3">
  <div class="card-body">
    <h2 class="card-title"><%= postsTitle %></h2>
    <% posts.each do |post| %>
      <div class="card mb-3">
        <div class="card-header bg-white">
          <p class="card-title"><%= post.book.title %></p>
        </div>
        <div class="card-body border-top">
          <div class="ms-2">
            <p class="card-text text-wrap"><%= post.content %></p>
          </div>
          <div class="d-flex justify-content-end">
            <% if user_signed_in? %>
              <% if current_user.likes.exists?(post: post) %>
                <p class="pt-2">いいね済みです。</p>
              <% else %>
                <%= button_to 'いいね', likes_path(post_id: post.id), method: :post, class: "btn btn-outline-primary" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
