<h1>Reabit</h1>
<p>Reabitは読書の習慣を身につけたい人をサポートするためのものです。</p>

<% if !user_signed_in? %>
  <p>まずはどんな機能があるか試してみましょう</p>
  <%= link_to "試しに機能を利用してみる", users_guest_sign_in_path, method: :post, class:'btn btn-outline-success ' %>
<% end %>

<div>
 <p>人気投稿一覧</p>
</div>

<div>
  <p>新規投稿一覧</p>
</div>
